* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ImgSize: 800px;
}

body {
    padding-top:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #42055e;
    height: 1000px;
    overflow: hidden;
}

#name {
    background-color: #4e0288;
    color: #bfc2ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.Game{
    display: none;
}

.Start {
    padding: 10px 10px 20px 10px;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Start button {
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    width: 50%;
    background-color: #4e0288;
    color: #e1e2f3;
    border-radius: 10px;
    border: 4px solid black;
    margin: 10px;
}

.Start button:hover {
    font-size: 210%;
}

/*
make Start button black when clicked*/
.Start button:active {
    background-color: black;
    color: white;
}

.Stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 30%;
}

.AllCards {
    padding: 5px;
    margin: 30px;
    list-style-type: none;
    width: calc(5 * 8 + 70 * 4px);
    height: calc(4 * 8 + 7 * 5px);
    background-color: black;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;

}

.OneCard {
    margin: auto;
    border-radius: 10px;
    background-color: rgb(154, 14, 147);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    perspective: 1000px;

}

.OneCard .Front {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.OneCard .Back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.OneCard.flipped .Front {
    transform: rotateY(180deg);
}

.OneCard.flipped .Back {
    transform: rotateY(0deg);
}

img {
    width: 60%;
    height: 60%;
}

li {
    cursor: pointer;
}

li > * {
    pointer-events: none;
}